.vector-icon2 {
  height: 30px;
  width: 31px;
  position: relative;
}
.vector-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.main2 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.frame-parent9,
.navigation-inner5 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent9 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner5 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.message-icon2 {
  width: 38px;
  height: 40px;
  position: relative;
}
.dm2 {
  position: relative;
  display: inline-block;
  min-width: 28px;
}
.dm-frame,
.message-container,
.navigation-inner6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dm-frame {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.message-container,
.navigation-inner6 {
  overflow: hidden;
}
.message-container {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner6 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.face-icon2 {
  height: 31.5px;
  width: 35px;
  position: relative;
}
.face-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.mypage2 {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.frame-parent10,
.navigation-inner7 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent10 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner7 {
  margin-left: -13.5px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.group-icon2 {
  height: 33px;
  width: 30px;
  position: relative;
}
.group-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.logout2 {
  position: relative;
  display: inline-block;
  min-width: 57px;
}
.frame-parent11 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.frame-parent11,
.navigation-inner8,
.navigation2 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-inner8 {
  margin-left: -9px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.navigation2 {
  height: 2500px;
  width: 100px;
  background-color: var(--color-antiquewhite);
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-11xs-2);
}
.main-child {
  width: 707px;
  height: 731px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-400);
  display: none;
  max-width: 100%;
}
.login1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 107px;
  z-index: 1;
}
.login-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.id {
  position: relative;
  display: inline-block;
  min-width: 26px;
}
.frame-child19 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-snow);
}
.id-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pw {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 42px;
}
.frame-child20 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-snow);
}
.pw-parent {
  align-self: stretch;
  gap: var(--gap-8xs);
}
.div11,
.frame-parent12,
.pw-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div11 {
  align-self: stretch;
  border-radius: var(--br-11xl);
  gap: var(--gap-21xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-8xl);
}
.frame-parent12 {
  width: 477px;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.div12 {
  position: relative;
  font-size: var(--font-size-8xl);
  font-family: var(--font-pretendard);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 71px;
}
.button2,
.h3 {
  cursor: pointer;
  z-index: 1;
}
.button2 {
  border: 0;
  padding: var(--padding-lgi) var(--padding-xl);
  background-color: var(--color-coral-100);
  align-self: stretch;
  border-radius: var(--br-11xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.button2:hover {
  background-color: var(--color-chocolate-200);
}
.h3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 94px;
}
.wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.login,
.main-wrapper,
.main3,
.parent {
  display: flex;
  justify-content: flex-start;
}
.parent {
  width: 477px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xl);
  max-width: 100%;
  font-size: var(--font-size-8xl);
}
.login,
.main-wrapper,
.main3 {
  box-sizing: border-box;
}
.main3 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-400);
  flex-direction: column;
  align-items: center;
  padding: 75px var(--padding-xl) var(--padding-52xl);
  gap: 108px;
  max-width: 100%;
}
.login,
.main-wrapper {
  align-items: flex-start;
}
.main-wrapper {
  height: 906px;
  width: 707px;
  flex-direction: column;
  padding: 175px 0 0;
  max-width: calc(100% - 606px);
  font-size: var(--font-size-31xl);
  color: var(--black);
}
.login {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 174px;
  gap: 506px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-coral-100);
  font-family: var(--font-pretendard);
}
@media screen and (max-width: 1200px) {
  .login {
    gap: var(--gap-234xl);
  }
}
@media screen and (max-width: 1050px) {
  .login1 {
    font-size: var(--font-size-21xl);
  }
  .main-wrapper {
    padding-top: 114px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .div11 {
    gap: var(--gap-xl);
  }
  .main3 {
    gap: 54px;
    padding-top: 49px;
    padding-bottom: 46px;
    box-sizing: border-box;
  }
  .login {
    gap: 126px;
  }
}
@media screen and (max-width: 450px) {
  .navigation2 {
    display: none;
  }
  .login1 {
    font-size: var(--font-size-11xl);
  }
  .div12,
  .h3,
  .id,
  .pw {
    font-size: var(--font-size-3xl);
  }
  .main3 {
    gap: var(--gap-8xl);
  }
  .main-wrapper {
    padding-top: 74px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .login {
    gap: var(--gap-44xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
