.navigation-icons3 {
  height: 30px;
  width: 31px;
  position: relative;
}
.navigation-elements1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.main12 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.navigation-container1,
.navigation-elements-parent {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-elements-parent {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-container1 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.message-icon10 {
  width: 38px;
  height: 40px;
  position: relative;
}
.dm14 {
  position: relative;
  display: inline-block;
  min-width: 28px;
}
.direct-message1,
.dm-container-wrapper,
.dm-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.direct-message1 {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.dm-container-wrapper,
.dm-container1 {
  overflow: hidden;
}
.dm-container1 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.dm-container-wrapper {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.face-icon10 {
  height: 31.5px;
  width: 35px;
  position: relative;
}
.my-profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.mypage10 {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.profile-container,
.profile-container-wrapper {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-container {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.profile-container-wrapper {
  margin-left: -13.5px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.group-icon10 {
  height: 33px;
  width: 30px;
  position: relative;
}
.group-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.logout10 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 57px;
}
.logout-container {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.logout-container,
.logout-container-wrapper,
.navigation-wrapper,
.navigation10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-container-wrapper {
  margin-left: -9px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.navigation-wrapper,
.navigation10 {
  flex-direction: column;
}
.navigation10 {
  width: 100px;
  flex: 1;
  background-color: var(--color-antiquewhite);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-11xs-2);
}
.navigation-wrapper {
  height: 2500px;
  width: 282px;
}
.profile-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-whitesmoke-300);
  border: 0 solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.icon1 {
  position: absolute;
  top: 336px;
  left: 307px;
  width: 92px;
  height: 92px;
  z-index: 1;
}
.edit-image {
  height: 428px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.edit-profile1,
.name-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-input {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
.edit-profile1 {
  width: 428px;
  flex-direction: column;
  padding: 312px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 1187px);
}
.h11 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 170%;
  font-weight: 400;
  font-family: inherit;
}
.profile-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-box {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 70px;
  right: -776px;
  bottom: -70px;
  left: 776px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.div43 {
  position: relative;
  display: inline-block;
  min-width: 126px;
  z-index: 1;
}
.name-box-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-4xl) 22px;
  position: relative;
}
.frame-child62 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 291px;
  right: -776px;
  bottom: -291px;
  left: 776px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.div44 {
  height: 32.1px;
  position: relative;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.profile-input,
.rectangle-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent4 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: 27.3px var(--padding-4xl) var(--padding-8xl);
  position: relative;
}
.profile-input {
  width: 796px;
  height: 406px;
  flex-direction: column;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 45px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-dimgray-200);
}
.b18 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-pretendard);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 83px;
}
.save-button-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl);
  background-color: var(--d9d9d9);
  width: 300px;
  border-radius: var(--br-41xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.save-button-container:hover {
  background-color: var(--color-chocolate-100);
}
.profile-content3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 79px;
  max-width: 100%;
}
.modifyme,
.profile-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.profile-details {
  width: 883px;
  flex-direction: column;
  padding: 167px 0 0;
  max-width: calc(100% - 732px);
  flex-shrink: 0;
  font-size: var(--font-size-21xl);
  color: var(--black);
}
.modifyme {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 212px;
  gap: 11px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-coral-100);
  font-family: var(--font-pretendard);
}
@media screen and (max-width: 1350px) {
  .navigation-wrapper {
    display: none;
  }
  .edit-profile1 {
    max-width: 100%;
  }
  .profile-details {
    display: none;
  }
  .modifyme {
    padding-left: var(--padding-2xs);
    padding-right: var(--padding-2xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .edit-profile1 {
    display: none;
  }
  .profile-content3 {
    gap: 39px;
  }
  .profile-details {
    padding-top: 109px;
    box-sizing: border-box;
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .edit-profile1 {
    padding-top: 203px;
    box-sizing: border-box;
  }
  .h11 {
    font-size: 32px;
    line-height: 54px;
  }
}
@media screen and (max-width: 450px) {
  .h11 {
    font-size: var(--font-size-5xl);
    line-height: 41px;
  }
  .div43,
  .div44 {
    font-size: var(--font-size-lg);
  }
  .profile-input {
    gap: var(--gap-3xl);
  }
  .b18 {
    font-size: 19px;
  }
  .profile-content3 {
    gap: var(--gap-xl);
  }
  .profile-details {
    padding-top: var(--padding-52xl);
    box-sizing: border-box;
  }
}
