.navigation-icons2 {
  height: 30px;
  width: 31px;
  position: relative;
}
.navigation-icons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.main8 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.frame-parent21,
.navigation-inner17 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent21 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner17 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.message-icon6 {
  width: 38px;
  height: 40px;
  position: relative;
}
.dm6 {
  position: relative;
  display: inline-block;
  min-width: 28px;
}
.dm-wrapper5,
.message-parent3,
.navigation-inner18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dm-wrapper5 {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.message-parent3,
.navigation-inner18 {
  overflow: hidden;
}
.message-parent3 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner18 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.face-icon6 {
  height: 31.5px;
  width: 35px;
  position: relative;
}
.mypage-content2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.mypage6 {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.mypage-content-group,
.navigation-inner19 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mypage-content-group {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner19 {
  margin-left: -13.5px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.group-icon6 {
  height: 33px;
  width: 30px;
  position: relative;
}
.logout-content2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.logout6 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 57px;
}
.logout-content-parent {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.logout-content-parent,
.navigation-inner20,
.navigation6 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-inner20 {
  margin-left: -9px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.navigation6 {
  margin-top: -194px;
  height: 2500px;
  width: 100px;
  background-color: var(--color-antiquewhite);
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-11xs-2);
}
.user-information-child {
  height: 119px;
  width: 119px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-whitesmoke-400);
}
.user7 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.input1,
.nickname-content,
.nickname-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nickname-details {
  flex-direction: row;
  padding: 0 var(--padding-6xs);
}
.input1,
.nickname-content {
  align-self: stretch;
}
.input1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-whitesmoke-400);
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-6xs) var(--padding-7xs);
  box-sizing: border-box;
  font-family: var(--font-pretendard);
  font-weight: 500;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
  min-width: 250px;
}
.nickname-content {
  flex-direction: column;
  gap: var(--gap-xl);
}
.nickname-content-wrapper,
.user-information {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.nickname-content-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
  min-width: 348px;
}
.user-information {
  width: 675px;
  flex-direction: row;
  gap: var(--gap-2xl);
}
.icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.edit-profile {
  height: 89px;
  width: 85.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.profile-content,
.profile-information {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.profile-information {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.profile-content {
  width: 1162.6px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.frame-child27,
.frame-child28,
.frame-child29,
.frame-child30 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  min-height: 285px;
}
.frame-parent22 {
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  grid-template-columns: repeat(4, minmax(214px, 1fr));
}
.description-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 198px;
  right: -1196px;
  bottom: -198px;
  left: 1196px;
  border-radius: var(--br-7xs);
  border: 0.9px solid var(--color-silver);
  box-sizing: border-box;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.div25 {
  height: 33px;
  width: 334.5px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.description,
.div24 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.div24 {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-7xl) var(--padding-15xl);
  box-sizing: border-box;
  position: relative;
  min-height: 198px;
}
.description {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-28xl);
  font-size: var(--font-size-xl-5);
  color: var(--color-darkgray-200);
}
.mypost,
.profile-content-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-pretendard);
}
.profile-content-parent {
  width: 1200px;
  flex-direction: column;
  gap: var(--gap-36xl);
  max-width: calc(100% - 360px);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-midnightblue);
}
.mypost {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-169xl) 0;
  box-sizing: border-box;
  gap: var(--gap-241xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-coral-100);
}
@media screen and (max-width: 1200px) {
  .mypost {
    gap: var(--gap-111xl);
  }
}
@media screen and (max-width: 1050px) {
  .profile-information {
    flex-wrap: wrap;
  }
  .frame-parent22 {
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(214px, 370px));
  }
  .mypost {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .navigation6 {
    display: none;
  }
  .user-information {
    flex-wrap: wrap;
  }
  .description {
    gap: var(--gap-4xl);
  }
  .profile-content-parent {
    gap: var(--gap-8xl);
    max-width: 100%;
  }
  .mypost {
    gap: var(--gap-46xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .user7 {
    font-size: var(--font-size-xl);
  }
  .nickname-content-wrapper {
    min-width: 100%;
  }
  .frame-child27,
  .frame-child28,
  .frame-child29,
  .frame-child30 {
    width: 100%;
  }
  .frame-parent22 {
    grid-template-columns: minmax(214px, 1fr);
  }
  .div25 {
    font-size: var(--font-size-base);
  }
  .mypost {
    gap: var(--gap-13xl);
  }
}
