.vector-icon5 {
  height: 30px;
  width: 31px;
  position: relative;
}
.vector-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.main13 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.frame-parent43,
.navigation-inner29 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent43 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner29 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.message-icon11 {
  width: 38px;
  height: 40px;
  position: relative;
}
.dm15 {
  position: relative;
  display: inline-block;
  min-width: 28px;
}
.dm-wrapper8,
.message-parent6,
.navigation-inner30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dm-wrapper8 {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.message-parent6,
.navigation-inner30 {
  overflow: hidden;
}
.message-parent6 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner30 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.face-icon11 {
  height: 31.5px;
  width: 35px;
  position: relative;
}
.face-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.mypage12 {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.frame-parent44,
.navigation-inner31 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent44 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner31 {
  margin-left: -13.5px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.group-icon11 {
  height: 33px;
  width: 30px;
  position: relative;
}
.group-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.logout11 {
  position: relative;
  display: inline-block;
  min-width: 57px;
}
.frame-parent45 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.frame-parent45,
.navigation-inner32,
.navigation11 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-inner32 {
  margin-left: -9px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.navigation11 {
  height: 2500px;
  width: 100px;
  background-color: var(--color-antiquewhite);
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-11xs-2);
}
.frame-child63,
.icon2 {
  position: absolute;
  left: 0;
}
.frame-child63 {
  top: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
}
.icon2 {
  top: 130px;
  width: 70px;
  height: 70px;
  object-fit: contain;
  cursor: pointer;
  z-index: 1;
}
.ellipse-group {
  height: 200px;
  flex: 1;
  position: relative;
}
.profile-header-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-header1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 9px;
  box-sizing: border-box;
}
.h23,
.user-name {
  margin: 0;
  position: relative;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.user-name {
  width: 316px;
  font-size: inherit;
}
.h23 {
  align-self: stretch;
  height: 88px;
  font-size: var(--font-size-11xl);
  color: #9f9f9f;
  flex-shrink: 0;
}
.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  min-width: 626px;
  max-width: 100%;
}
.icon3,
.profile-header-parent {
  align-self: stretch;
  max-width: 100%;
}
.profile-header-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 58px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--black);
  font-family: var(--font-pretendard);
}
.icon3 {
  height: 650px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-parent46,
.mypage-inner,
.mypage11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent46 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-46xl);
  max-width: 100%;
}
.mypage-inner,
.mypage11 {
  box-sizing: border-box;
}
.mypage-inner {
  width: 1221px;
  flex-direction: column;
  padding: 70px 0 0;
  max-width: calc(100% - 350px);
  flex-shrink: 0;
}
.mypage11 {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 var(--padding-67xl);
  gap: 250px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-coral-100);
  font-family: var(--font-pretendard);
}
@media screen and (max-width: 1200px) {
  .mypage11 {
    gap: 125px;
  }
}
@media screen and (max-width: 1050px) {
  .user-name {
    font-size: var(--font-size-21xl);
  }
  .h23 {
    font-size: var(--font-size-5xl);
  }
  .mypage-inner {
    padding-top: 45px;
    box-sizing: border-box;
  }
  .mypage11 {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .navigation11 {
    display: none;
  }
  .user-info {
    gap: var(--gap-xl);
    min-width: 100%;
  }
  .profile-header-parent {
    gap: var(--gap-10xl);
  }
  .frame-parent46 {
    gap: var(--gap-13xl);
  }
  .mypage-inner {
    padding-top: 29px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .mypage11 {
    gap: 62px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .user-name {
    font-size: var(--font-size-11xl);
  }
  .h23 {
    font-size: var(--font-size-lg);
  }
  .frame-parent46 {
    gap: 16px;
  }
  .mypage11 {
    gap: var(--gap-12xl);
  }
}
