.vector-icon4 {
  height: 30px;
  width: 31px;
  position: relative;
}
.vector-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.main10 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.frame-parent23,
.navigation-inner25 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent23 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner25 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.message-icon8 {
  width: 38px;
  height: 40px;
  position: relative;
}
.dm8 {
  position: relative;
  display: inline-block;
  min-width: 28px;
}
.dm-wrapper6,
.message-parent5,
.navigation-inner26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dm-wrapper6 {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.message-parent5,
.navigation-inner26 {
  overflow: hidden;
}
.message-parent5 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner26 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.face-icon8 {
  height: 31.5px;
  width: 35px;
  position: relative;
}
.face-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.mypage8 {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.frame-parent24,
.navigation-inner27 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent24 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner27 {
  margin-left: -13.5px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.group-icon8 {
  height: 33px;
  width: 30px;
  position: relative;
}
.group-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.logout8 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 57px;
}
.frame-parent25 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.frame-parent25,
.navigation-inner28,
.navigation8 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-inner28 {
  margin-left: -9px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.navigation8 {
  height: 2500px;
  width: 100px;
  background-color: var(--color-antiquewhite);
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-11xs-2);
}
.dm-wrapper7,
.dm9 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.dm9 {
  margin: 0;
  height: 37.7px;
  width: 583px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
}
.dm-wrapper7 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.component-child,
.frame-child31 {
  align-self: stretch;
  position: relative;
}
.component-child {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child31 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b1 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p2,
.p3 {
  margin: 0;
}
.div26 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper3,
.group-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-div {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper3 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-icon {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-parent27,
.frame-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent27 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl-5);
}
.frame-wrapper2 {
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.component-item,
.frame-wrapper2,
.line-parent {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.component-item {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child32,
.instance-child {
  align-self: stretch;
  position: relative;
}
.instance-child {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child32 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-container {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b2 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p4,
.p5 {
  margin: 0;
}
.div27 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper5,
.parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent1 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper5 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child33 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-parent28,
.frame-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent28 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl-5);
}
.frame-wrapper4 {
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.frame-wrapper4,
.instance-item,
.line-group {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-item {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-group {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child34,
.instance-inner {
  align-self: stretch;
  position: relative;
}
.instance-inner {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child34 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-frame {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b3 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p6,
.p7 {
  margin: 0;
}
.div28 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper7,
.parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent2 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper7 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child35 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-parent29,
.frame-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent29 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl-5);
}
.frame-wrapper6 {
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.frame-wrapper6,
.line-container,
.line-div {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.line-div {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-container {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child36,
.instance-child1 {
  align-self: stretch;
  position: relative;
}
.instance-child1 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child36 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper1 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b4 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p8,
.p9 {
  margin: 0;
}
.div29 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper9,
.parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent3 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper9 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child37 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-parent30,
.frame-wrapper8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent30 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl-5);
}
.frame-wrapper8 {
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.frame-wrapper8,
.instance-child2,
.line-parent1 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child2 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent1 {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child38,
.instance-child3 {
  align-self: stretch;
  position: relative;
}
.instance-child3 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child38 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper2 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b5 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p10,
.p11 {
  margin: 0;
}
.div30 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper11,
.parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent4 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper11 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child39 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-parent31,
.frame-wrapper10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent31 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl-5);
}
.frame-wrapper10 {
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.frame-wrapper10,
.instance-child4,
.line-parent2 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child4 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent2 {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child40,
.instance-child5 {
  align-self: stretch;
  position: relative;
}
.instance-child5 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child40 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper3 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b6 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p12,
.p13 {
  margin: 0;
}
.div31 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper13,
.parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent5 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper13 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child41 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-parent32,
.frame-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent32 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl-5);
}
.frame-wrapper12 {
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.frame-wrapper12,
.instance-child6,
.line-parent3 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child6 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent3 {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child42,
.instance-child7 {
  align-self: stretch;
  position: relative;
}
.instance-child7 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child42 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper4 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b7 {
  position: relative;
  font-weight: 700;
}
.p14,
.p15 {
  margin: 0;
}
.div32 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper15,
.parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent6 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper15 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child43 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-parent33,
.frame-wrapper14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent33 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl-5);
}
.frame-wrapper14 {
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.frame-wrapper14,
.instance-child8,
.line-parent4 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child8 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent4 {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child44,
.instance-child9 {
  align-self: stretch;
  position: relative;
}
.instance-child9 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child44 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper5 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b8 {
  position: relative;
  font-weight: 700;
}
.p16,
.p17 {
  margin: 0;
}
.div33 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper17,
.parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent7 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper17 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child45 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-parent34,
.frame-wrapper16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent34 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl-5);
}
.frame-wrapper16 {
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) 0 var(--padding-5xl);
}
.dm10,
.frame-wrapper16,
.instance-child10,
.line-parent5 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child10 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.dm10,
.line-parent5 {
  flex-direction: column;
  max-width: 100%;
}
.line-parent5 {
  height: 140px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
}
.dm10 {
  height: 960px;
  overflow-y: auto;
  padding: var(--padding-36xl) var(--padding-44xl) var(--padding-mini);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.dm10,
.frame-parent26,
.recieveddm,
.recieveddm-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent26 {
  align-self: stretch;
  flex-direction: column;
  gap: 7.7px;
  max-width: 100%;
}
.recieveddm,
.recieveddm-inner {
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font-pretendard);
}
.recieveddm-inner {
  width: 1245px;
  flex-direction: column;
  padding: 64.6px 0 0;
  max-width: calc(100% - 338px);
  flex-shrink: 0;
  font-size: 35px;
  color: var(--black);
}
.recieveddm {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 var(--padding-3xs);
  gap: var(--gap-219xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-lg);
  color: var(--color-coral-100);
}
@media screen and (max-width: 1200px) {
  .dm10 {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .recieveddm-inner {
    padding-top: var(--padding-23xl);
    box-sizing: border-box;
  }
  .recieveddm {
    gap: var(--gap-100xl);
  }
}
@media screen and (max-width: 1050px) {
  .dm9 {
    font-size: 28px;
  }
  .frame-wrapper3 {
    min-width: 100%;
  }
  .line-parent {
    height: auto;
  }
  .frame-wrapper5 {
    min-width: 100%;
  }
  .line-group {
    height: auto;
  }
  .frame-wrapper7 {
    min-width: 100%;
  }
  .line-container {
    height: auto;
  }
  .frame-wrapper9 {
    min-width: 100%;
  }
  .line-parent1 {
    height: auto;
  }
  .frame-wrapper11 {
    min-width: 100%;
  }
  .line-parent2 {
    height: auto;
  }
  .frame-wrapper13 {
    min-width: 100%;
  }
  .line-parent3 {
    height: auto;
  }
  .frame-wrapper15 {
    min-width: 100%;
  }
  .line-parent4 {
    height: auto;
  }
  .frame-wrapper17 {
    min-width: 100%;
  }
  .line-parent5 {
    height: auto;
  }
  .dm10 {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .dm10,
  .recieveddm {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .navigation8 {
    display: none;
  }
  .line-container,
  .line-group,
  .line-parent,
  .line-parent1,
  .line-parent2,
  .line-parent3,
  .line-parent4,
  .line-parent5 {
    gap: var(--gap-mini);
  }
  .dm10,
  .recieveddm-inner {
    padding-top: var(--padding-4xl);
    box-sizing: border-box;
  }
  .recieveddm-inner {
    padding-top: var(--padding-8xl);
    max-width: 100%;
  }
  .recieveddm {
    gap: var(--gap-40xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .dm9 {
    font-size: 21px;
  }
  .recieveddm {
    gap: var(--gap-11xl);
  }
}
