.navigation-icon {
  height: 30px;
  width: 31px;
  position: relative;
}
.navigation-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.main11 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.navigation-container,
.navigation-content1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-content1 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-container {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.message-icon9 {
  width: 38px;
  height: 40px;
  position: relative;
}
.dm11 {
  position: relative;
  display: inline-block;
  min-width: 28px;
}
.message-content,
.message-content-wrapper,
.message-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.message-details {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.message-content,
.message-content-wrapper {
  overflow: hidden;
}
.message-content {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.message-content-wrapper {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.face-icon9 {
  height: 31.5px;
  width: 35px;
  position: relative;
}
.profile-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.mypage9 {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.profile-content-wrapper,
.profile-content2 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-content2 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.profile-content-wrapper {
  margin-left: -13.5px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.group-icon9 {
  height: 33px;
  width: 30px;
  position: relative;
}
.logout-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.logout9 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 57px;
}
.logout-content4 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.logout-content-frame,
.logout-content4,
.navigation9 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-content-frame {
  margin-left: -9px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.navigation9 {
  height: 2500px;
  width: 100px;
  background-color: var(--color-antiquewhite);
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-11xs-2);
}
.direct-message-list-header,
.dm12 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.dm12 {
  margin: 0;
  height: 31.8px;
  width: 467px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
}
.direct-message-list-header {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.message-avatar,
.message-divider {
  align-self: stretch;
  position: relative;
}
.message-divider {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.message-avatar {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.message-avatar-container {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b9 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p18,
.p19 {
  margin: 0;
}
.div34 {
  position: relative;
  font-weight: 500;
}
.message-details1,
.parent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent8 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.message-details1 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.message-actions-icon {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
}
.message-container1,
.message-content1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.message-content1 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.message-container1 {
  width: 1095px;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.message-divider-parent,
.message-separator {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.message-separator {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.message-divider-parent {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child46,
.instance-child11 {
  align-self: stretch;
  position: relative;
}
.instance-child11 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child46 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper6 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b10 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p20,
.p21 {
  margin: 0;
}
.div35 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper19,
.parent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent9 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper19 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child47 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent35,
.frame-wrapper18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent35 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-wrapper18 {
  width: 1095px;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.instance-child12,
.line-parent6 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child12 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent6 {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child48,
.instance-child13 {
  align-self: stretch;
  position: relative;
}
.instance-child13 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child48 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper7 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b11 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p22,
.p23 {
  margin: 0;
}
.div36 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper21,
.parent10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent10 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper21 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child49 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent36,
.frame-wrapper20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent36 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-wrapper20 {
  width: 1095px;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.instance-child14,
.line-parent7 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child14 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent7 {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child50,
.instance-child15 {
  align-self: stretch;
  position: relative;
}
.instance-child15 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child50 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper8 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b12 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p24,
.p25 {
  margin: 0;
}
.div37 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper23,
.parent11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent11 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper23 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child51 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent37,
.frame-wrapper22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent37 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-wrapper22 {
  width: 1095px;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.instance-child16,
.line-parent8 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child16 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent8 {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child52,
.instance-child17 {
  align-self: stretch;
  position: relative;
}
.instance-child17 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child52 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper9 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b13 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p26,
.p27 {
  margin: 0;
}
.div38 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper25,
.parent12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent12 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper25 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child53 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent38,
.frame-wrapper24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent38 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-wrapper24 {
  width: 1095px;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.instance-child18,
.line-parent9 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child18 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent9 {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child54,
.instance-child19 {
  align-self: stretch;
  position: relative;
}
.instance-child19 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child54 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper10 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b14 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
}
.p28,
.p29 {
  margin: 0;
}
.div39 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper27,
.parent13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent13 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper27 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child55 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent39,
.frame-wrapper26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent39 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-wrapper26 {
  width: 1095px;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.instance-child20,
.line-parent10 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child20 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent10 {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child56,
.instance-child21 {
  align-self: stretch;
  position: relative;
}
.instance-child21 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child56 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper11 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b15 {
  position: relative;
  font-weight: 700;
}
.p30,
.p31 {
  margin: 0;
}
.div40 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper29,
.parent14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent14 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper29 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child57 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent40,
.frame-wrapper28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent40 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-wrapper28 {
  width: 1095px;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.instance-child22,
.line-parent11 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child22 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent11 {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child58,
.instance-child23 {
  align-self: stretch;
  position: relative;
}
.instance-child23 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child58 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper12 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b16 {
  position: relative;
  font-weight: 700;
}
.p32,
.p33 {
  margin: 0;
}
.div41 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper31,
.parent15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent15 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper31 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child59 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent41,
.frame-wrapper30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent41 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-wrapper30 {
  width: 1095px;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.instance-child24,
.line-parent12 {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.instance-child24 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
}
.line-parent12 {
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child60,
.instance-child25 {
  align-self: stretch;
  position: relative;
}
.instance-child25 {
  height: 1px;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child60 {
  flex: 1;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.ellipse-wrapper13 {
  height: 74px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.b17 {
  position: relative;
  font-weight: 700;
}
.p34,
.p35 {
  margin: 0;
}
.div42 {
  position: relative;
  font-weight: 500;
}
.frame-wrapper33,
.parent16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent16 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.frame-wrapper33 {
  flex: 1;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 564px;
  max-width: 100%;
}
.frame-child61 {
  height: 77px;
  width: 85.6px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent42,
.frame-wrapper32 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent42 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-wrapper32 {
  width: 1095px;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.instance-child26 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color);
  box-sizing: border-box;
  flex-shrink: 0;
}
.direct-message-list-content,
.dm13,
.line-parent13 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.line-parent13 {
  height: 140px;
  flex-shrink: 0;
  align-items: flex-end;
  padding: 0 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
  debug_commit: bf4bc93;
}
.direct-message-list-content,
.dm13 {
  align-items: flex-start;
}
.dm13 {
  height: 960px;
  overflow-y: auto;
  flex-shrink: 0;
  padding: var(--padding-36xl) var(--padding-44xl) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.direct-message-list-content {
  gap: 3.8px;
}
.direct-message-list-content-wrapper,
.sendeddm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font-pretendard);
}
.direct-message-list-content-wrapper {
  width: 1245px;
  flex-direction: column;
  padding: 74.4px 0 0;
  max-width: calc(100% - 338px);
  flex-shrink: 0;
  font-size: var(--font-size-11xl);
  color: var(--black);
}
.sendeddm {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 var(--padding-3xs);
  gap: var(--gap-219xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-lg);
  color: var(--color-coral-100);
}
@media screen and (max-width: 1200px) {
  .dm13 {
    padding: var(--padding-17xl) var(--padding-12xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .direct-message-list-content-wrapper {
    padding-top: 48px;
    box-sizing: border-box;
  }
  .sendeddm {
    gap: var(--gap-100xl);
  }
}
@media screen and (max-width: 1050px) {
  .dm12 {
    font-size: var(--font-size-5xl);
  }
  .dm13,
  .line-parent10,
  .line-parent11,
  .line-parent12,
  .line-parent13,
  .line-parent6,
  .line-parent7,
  .line-parent8,
  .line-parent9,
  .message-divider-parent,
  .sendeddm {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .navigation9 {
    display: none;
  }
  .message-details1 {
    min-width: 100%;
  }
  .message-divider-parent {
    gap: var(--gap-mini);
  }
  .frame-wrapper19 {
    min-width: 100%;
  }
  .line-parent6 {
    gap: var(--gap-mini);
  }
  .frame-wrapper21 {
    min-width: 100%;
  }
  .line-parent7 {
    gap: var(--gap-mini);
  }
  .frame-wrapper23 {
    min-width: 100%;
  }
  .line-parent8 {
    gap: var(--gap-mini);
  }
  .frame-wrapper25 {
    min-width: 100%;
  }
  .line-parent9 {
    gap: var(--gap-mini);
  }
  .frame-wrapper27 {
    min-width: 100%;
  }
  .line-parent10 {
    gap: var(--gap-mini);
  }
  .frame-wrapper29 {
    min-width: 100%;
  }
  .line-parent11 {
    gap: var(--gap-mini);
  }
  .frame-wrapper31 {
    min-width: 100%;
  }
  .line-parent12 {
    gap: var(--gap-mini);
  }
  .frame-wrapper33 {
    min-width: 100%;
  }
  .line-parent13 {
    gap: var(--gap-mini);
  }
  .dm13 {
    padding-top: var(--padding-4xl);
    box-sizing: border-box;
  }
  .direct-message-list-content-wrapper {
    padding-top: var(--padding-12xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .sendeddm {
    gap: var(--gap-40xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .dm12 {
    font-size: var(--font-size-lg);
  }
  .sendeddm {
    gap: var(--gap-11xl);
  }
}
