.vector-icon {
  height: 30px;
  width: 31px;
  position: relative;
}
.vector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.main {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.frame-parent,
.navigation-inner {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.message-icon {
  width: 38px;
  height: 40px;
  position: relative;
}
.dm {
  position: relative;
  display: inline-block;
  min-width: 28px;
}
.dm-wrapper,
.message-parent,
.navigation-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dm-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.message-parent,
.navigation-child {
  overflow: hidden;
}
.message-parent {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-child {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.face-icon {
  height: 31.5px;
  width: 35px;
  position: relative;
}
.mypage-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px;
}
.mypage {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.frame-div,
.mypage-content-parent {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mypage-content-parent {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.frame-div {
  margin-left: -13.5px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.group-icon {
  height: 33px;
  width: 30px;
  position: relative;
}
.logout-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.logout {
  position: relative;
  display: inline-block;
  min-width: 57px;
}
.logout-content {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.logout-content,
.logout-content-wrapper,
.navigation {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-content-wrapper {
  margin-left: -9px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.navigation {
  height: 2500px;
  width: 100px;
  background-color: #fef1de;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-7xs);
  box-sizing: border-box;
  gap: 1.2px;
}
.h1 {
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.h1,
.p,
.p1 {
  margin: 0;
}
.div,
.h2 {
  position: relative;
}
.h2 {
  margin: 0;
  align-self: stretch;
  font-size: var(--font-size-11xl);
  font-weight: 400;
  font-family: inherit;
  color: #9b9595;
}
.div {
  font-size: 27px;
  font-family: var(--font-pretendard);
  color: var(--color-white);
  text-align: center;
}
.button,
.login-button-container {
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 19px 68px;
  background-color: var(--color-coral);
  border-radius: var(--br-11xl);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  max-width: 100%;
}
.button:hover {
  background-color: #bd4f1a;
}
.login-button-container {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.login-button-container,
.slogan,
.slogan-container {
  display: flex;
  max-width: 100%;
}
.slogan {
  width: 756.3px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 41.5px;
}
.slogan-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 53px var(--padding-xl);
  box-sizing: border-box;
}
.h21 {
  margin: 0;
  width: 756.3px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.profile-background {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: -1px;
  left: -1px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.profile-picture-container-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-whitesmoke);
  z-index: 1;
}
.profile-picture-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-smi);
}
.kim-swim {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.user-name-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl);
}
.div2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  z-index: 1;
}
.user,
.user-container,
.user-info-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-info-container {
  gap: var(--gap-6xl);
}
.user,
.user-container {
  flex-shrink: 0;
}
.user {
  flex: 1;
  border-radius: var(--br-11xl);
  padding: var(--padding-18xl-9) var(--padding-18xl) var(--padding-53xl);
  position: relative;
  gap: var(--gap-14xl-6);
  debug_commit: bf4bc93;
}
.user-container {
  width: 335px;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.user-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: -1px;
  left: -1px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.frame-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-whitesmoke);
  z-index: 1;
}
.user-inner {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-smi);
}
.kim-swim1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.kim-swim-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl);
}
.div3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  z-index: 1;
}
.frame-group,
.user-container1,
.user1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  gap: var(--gap-6xl);
}
.user-container1,
.user1 {
  flex-shrink: 0;
}
.user1 {
  flex: 1;
  border-radius: var(--br-11xl);
  padding: var(--padding-18xl-9) var(--padding-18xl) var(--padding-53xl);
  position: relative;
  gap: var(--gap-14xl-6);
  debug_commit: bf4bc93;
}
.user-container1 {
  width: 335px;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.user-item {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: -1px;
  left: -1px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.frame-item {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-whitesmoke);
  z-index: 1;
}
.user-inner1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-smi);
}
.kim-swim2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.kim-swim-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl);
}
.div4 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  z-index: 1;
}
.frame-container,
.user-container2,
.user2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  gap: var(--gap-6xl);
}
.user-container2,
.user2 {
  flex-shrink: 0;
}
.user2 {
  flex: 1;
  border-radius: var(--br-11xl);
  padding: var(--padding-18xl-9) var(--padding-18xl) var(--padding-53xl);
  position: relative;
  gap: var(--gap-14xl-6);
  debug_commit: bf4bc93;
}
.user-container2 {
  width: 335px;
  padding: 3px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-div {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: -1px;
  left: -1px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.frame-inner {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-whitesmoke);
  z-index: 1;
}
.user-inner2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-smi);
}
.kim-swim3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.kim-swim-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl);
}
.div5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  z-index: 1;
}
.frame-parent1,
.user-container3,
.user3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  gap: var(--gap-6xl);
}
.user-container3,
.user3 {
  flex-shrink: 0;
}
.user3 {
  flex: 1;
  border-radius: var(--br-11xl);
  padding: var(--padding-18xl-9) var(--padding-18xl) var(--padding-53xl);
  position: relative;
  gap: var(--gap-14xl-6);
  debug_commit: bf4bc93;
}
.user-container3 {
  width: 335px;
  padding: 2px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.user-child1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: -1px;
  left: -1px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.ellipse-div {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-whitesmoke);
  z-index: 1;
}
.user-inner3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-smi);
}
.kim-swim4 {
  margin: 0;
  width: 158px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.kim-swim-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
}
.div6 {
  width: 260px;
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  z-index: 1;
}
.frame-parent2,
.user-container4,
.user4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  width: 203px;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-6xl);
}
.user-container4,
.user4 {
  align-self: stretch;
  flex-shrink: 0;
}
.user4 {
  flex: 1;
  border-radius: var(--br-11xl);
  padding: var(--padding-18xl-9) var(--padding-18xl) var(--padding-53xl);
  position: relative;
  gap: var(--gap-14xl-6);
  debug_commit: bf4bc93;
}
.user-container4 {
  width: 335px;
  padding: 1px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.user-child2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: -1px;
  left: -1px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.frame-child1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-whitesmoke);
  z-index: 1;
}
.user-inner4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-smi);
}
.kim-swim5 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.kim-swim-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl);
}
.div7 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  z-index: 1;
}
.name-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.div1,
.user5 {
  flex-shrink: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.user5 {
  align-self: stretch;
  width: 335px;
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-18xl-9) var(--padding-18xl) var(--padding-53xl);
  position: relative;
  gap: var(--gap-14xl-6);
  debug_commit: bf4bc93;
}
.div1 {
  width: 1423px;
  height: 476px;
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-5xs) 11px var(--padding-smi) 12px;
  gap: 20px;
  font-size: var(--font-size-6xl);
}
.div1,
.main-description,
.main-description-wrapper,
.x {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.main-description {
  align-self: stretch;
  flex-direction: column;
  gap: 29px;
  max-width: 100%;
  text-align: center;
  font-size: 50px;
  color: var(--black);
  font-family: var(--font-pretendard);
}
.main-description-wrapper,
.x {
  box-sizing: border-box;
}
.main-description-wrapper {
  width: 1423px;
  flex-direction: column;
  padding: 87px 0 0;
  max-width: calc(100% - 248px);
  flex-shrink: 0;
}
.x {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 86px;
  gap: 148px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-coral);
  font-family: var(--font-pretendard);
}
@media screen and (max-width: 1200px) {
  .x {
    gap: 74px;
  }
}
@media screen and (max-width: 1050px) {
  .navigation {
    display: none;
  }
  .h1 {
    font-size: 40px;
  }
  .h2,
  .h21 {
    font-size: var(--font-size-5xl);
  }
  .main-description-wrapper {
    padding-top: 57px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .x {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .slogan {
    gap: 21px;
  }
  .main-description-wrapper {
    padding-top: var(--padding-18xl);
    box-sizing: border-box;
  }
  .x {
    gap: 37px;
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: var(--font-size-11xl);
  }
  .h2 {
    font-size: var(--font-size-lg);
  }
  .button {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .h21 {
    font-size: var(--font-size-lg);
  }
  .kim-swim {
    font-size: var(--font-size-xl);
  }
  .user-name-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .user {
    gap: var(--gap-mid);
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .kim-swim1 {
    font-size: var(--font-size-xl);
  }
  .kim-swim-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .user1 {
    gap: var(--gap-mid);
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .kim-swim2 {
    font-size: var(--font-size-xl);
  }
  .kim-swim-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .user2 {
    gap: var(--gap-mid);
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .kim-swim3 {
    font-size: var(--font-size-xl);
  }
  .kim-swim-frame {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .user3 {
    gap: var(--gap-mid);
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .kim-swim4 {
    font-size: var(--font-size-xl);
  }
  .user4 {
    gap: var(--gap-mid);
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .kim-swim5 {
    font-size: var(--font-size-xl);
  }
  .kim-swim-wrapper2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .user5 {
    gap: var(--gap-mid);
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .x {
    gap: 18px;
  }
}
