<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="../static/css/global.css" />
  <link rel="stylesheet" href="../static/css/sended-d-m.css" />

  <style>
    @font-face {
      font-family: "Pretendard";
      src: url("./public/Pretendard-Regular.otf");
      font-weight: 400;
    }

    @font-face {
      font-family: "Pretendard";
      src: url("./public/Pretendard-Medium.otf");
      font-weight: 500;
    }

    @font-face {
      font-family: "Pretendard";
      src: url("./public/Pretendard-Bold.otf");
      font-weight: 700;
    }

    @font-face {
      font-family: "Pretendard";
      src: url("./public/Pretendard-SemiBold.otf");
      font-weight: 600;
    }
  </style>
</head>

<body>
  <div class="sendeddm">
    {% include 'navigation.html' %}
    <section class="direct-message-list-content-wrapper">
      <div class="direct-message-list-content">
        <div class="d-m-list-content">
          <h2 class="dm14">내가 받은 DM을 확인해보세요</h2>
        </div>
        <div class="dm15">
          <div class="message-divider-parent">
            <div class="message-divider"></div>
            <div class="message-details1">
              <div class="message-content1">
                <div class="message-content-container">
                  <div class="message-avatar"></div>
                </div>
                <div class="message-avatar-container">
                  <div class="parent11">
                    <b class="b11">최기웅</b>
                    <div class="div41">
                      <p class="p20">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                      <p class="p21">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                    </div>
                  </div>
                </div>
                <img class="message-actions-icon" loading="lazy" alt="" src="./public/frame-2140.svg" />
              </div>
            </div>
            <div class="message-separator"></div>
          </div>
          <div class="line-parent7">
            <div class="instance-child13"></div>
            <div class="frame-wrapper45">
              <div class="frame-parent61">
                <div class="ellipse-wrapper8">
                  <div class="frame-child44"></div>
                </div>
                <div class="frame-wrapper46">
                  <div class="parent12">
                    <b class="b12">최기웅</b>
                    <div class="div42">
                      <p class="p22">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                      <p class="p23">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                    </div>
                  </div>
                </div>
                <img class="frame-child45" alt="" src="./public/frame-21404.svg" />
              </div>
            </div>
            <div class="instance-child14"></div>
          </div>
          <div class="line-parent8">
            <div class="instance-child15"></div>
            <div class="frame-wrapper47">
              <div class="frame-parent62">
                <div class="ellipse-wrapper9">
                  <div class="frame-child46"></div>
                </div>
                <div class="frame-wrapper48">
                  <div class="parent13">
                    <b class="b13">최기웅</b>
                    <div class="div43">
                      <p class="p24">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                      <p class="p25">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                    </div>
                  </div>
                </div>
                <img class="frame-child47" alt="" src="./public/frame-2140.svg" />
              </div>
            </div>
            <div class="instance-child16"></div>
          </div>
          <div class="line-parent9">
            <div class="instance-child17"></div>
            <div class="frame-wrapper49">
              <div class="frame-parent63">
                <div class="ellipse-wrapper10">
                  <div class="frame-child48"></div>
                </div>
                <div class="frame-wrapper50">
                  <div class="parent14">
                    <b class="b14">최기웅</b>
                    <div class="div44">
                      <p class="p26">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                      <p class="p27">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                    </div>
                  </div>
                </div>
                <img class="frame-child49" alt="" src="./public/frame-21404.svg" />
              </div>
            </div>
            <div class="instance-child18"></div>
          </div>
          <div class="line-parent10">
            <div class="instance-child19"></div>
            <div class="frame-wrapper51">
              <div class="frame-parent64">
                <div class="ellipse-wrapper11">
                  <div class="frame-child50"></div>
                </div>
                <div class="frame-wrapper52">
                  <div class="parent15">
                    <b class="b15">최기웅</b>
                    <div class="div45">
                      <p class="p28">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                      <p class="p29">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                    </div>
                  </div>
                </div>
                <img class="frame-child51" alt="" src="./public/frame-2140.svg" />
              </div>
            </div>
            <div class="instance-child20"></div>
          </div>
          <div class="line-parent11">
            <div class="instance-child21"></div>
            <div class="frame-wrapper53">
              <div class="frame-parent65">
                <div class="ellipse-wrapper12">
                  <div class="frame-child52"></div>
                </div>
                <div class="frame-wrapper54">
                  <div class="parent16">
                    <b class="b16">최기웅</b>
                    <div class="div46">
                      <p class="p30">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                      <p class="p31">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                    </div>
                  </div>
                </div>
                <img class="frame-child53" alt="" src="./public/frame-21404.svg" />
              </div>
            </div>
            <div class="instance-child22"></div>
          </div>
          <div class="line-parent12">
            <div class="instance-child23"></div>
            <div class="frame-wrapper55">
              <div class="frame-parent66">
                <div class="ellipse-wrapper13">
                  <div class="frame-child54"></div>
                </div>
                <div class="frame-wrapper56">
                  <div class="parent17">
                    <b class="b17">최기웅</b>
                    <div class="div47">
                      <p class="p32">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                      <p class="p33">
                        친구들이 남긴 댓글 내용이 들어갈 자리입니다. 친구들이
                        남긴 댓글 내용이 들어갈 자리입니다. 친구들이 남긴 댓글
                        내용이 들어갈 자리입니다.
                      </p>
                    </div>
                  </div>
                </div>
                <img class="frame-child55" alt="" />
              </div>
            </div>
            <div class="instance-child24"></div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script>
    var frameContainer = document.getElementById("frameContainer");
    if (frameContainer) {
      frameContainer.addEventListener("click", function (e) {
        window.location.href = "main-loged-out.html";
      });
    }

    var frameContainer1 = document.getElementById("frameContainer1");
    if (frameContainer1) {
      frameContainer1.addEventListener("click", function (e) {
        window.location.href = "./recieved-d-m.html";
      });
    }

    var frameContainer1 = document.getElementById("frameContainer1");
    if (frameContainer1) {
      frameContainer1.addEventListener("click", function (e) {
        window.location.href = "./my-page.html";
      });
    }

    var frameContainer2 = document.getElementById("frameContainer2");
    if (frameContainer2) {
      frameContainer2.addEventListener("click", function (e) {
        window.location.href = "main-loged-out.html";
      });
    }
  </script>
</body>

</html>