.vector-icon3 {
  height: 30px;
  width: 31px;
  position: relative;
}
.vector-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.main7 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.frame-parent15,
.navigation-inner13 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent15 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner13 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.message-icon5 {
  width: 38px;
  height: 40px;
  position: relative;
}
.dm5 {
  position: relative;
  display: inline-block;
  min-width: 28px;
}
.dm-wrapper4,
.message-parent2,
.navigation-inner14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dm-wrapper4 {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.message-parent2,
.navigation-inner14 {
  overflow: hidden;
}
.message-parent2 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner14 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.face-icon5 {
  height: 31.5px;
  width: 35px;
  position: relative;
}
.face-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
}
.mypage5 {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.frame-parent16,
.navigation-inner15 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent16 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.navigation-inner15 {
  margin-left: -13.5px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
  cursor: pointer;
}
.group-icon5 {
  height: 33px;
  width: 30px;
  position: relative;
}
.group-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.logout5 {
  position: relative;
  display: inline-block;
  min-width: 57px;
}
.frame-parent17 {
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  gap: var(--gap-7xs);
}
.frame-parent17,
.navigation-inner16,
.navigation5 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-inner16 {
  margin-left: -9px;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-7xs);
}
.navigation5 {
  height: 2500px;
  width: 100px;
  background-color: var(--color-antiquewhite);
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-11xs-2);
}
.child1,
.child2 {
  position: relative;
}
.child1 {
  height: 80px;
  width: 884px;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.child2 {
  height: 44px;
  width: 44px;
  z-index: 1;
}
.div25,
.wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div25 {
  width: 884px;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  justify-content: flex-end;
  padding: var(--padding-lg) var(--padding-17xl);
}
.wrapper2 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-7xl);
}
.div26 {
  position: relative;
  font-size: var(--font-size-8xl);
  font-family: var(--font-pretendard);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 124px;
}
.button4,
.wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) 30px;
  background-color: var(--color-coral-100);
  border-radius: var(--br-11xl);
  overflow: hidden;
  justify-content: flex-start;
  white-space: nowrap;
}
.button4:hover {
  background-color: var(--color-chocolate-200);
}
.wrapper3 {
  justify-content: flex-end;
  padding: 0 var(--padding-lgi);
}
.rectangle-icon {
  cursor: pointer;
}
.frame-child10,
.frame-child11,
.frame-child12,
.frame-child13,
.frame-child14,
.rectangle-icon {
  width: 355px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.rectangle-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px 55px;
  min-height: 419px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child15,
.frame-child16 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-group {
  height: 421px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: calc(100% - 824px);
}
.frame-child17,
.frame-child18 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-container {
  height: 421px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: calc(100% - 824px);
}
.frame-child19,
.frame-child20 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-parent20,
.rectangle-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent1 {
  height: 421px;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xl);
  max-width: calc(100% - 824px);
}
.frame-parent20 {
  align-self: stretch;
  height: 414px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 0 223px;
  box-sizing: border-box;
  gap: var(--gap-38xl);
  debug_commit: bf4bc93;
  max-width: 100%;
}
.frame-child21,
.frame-child22,
.frame-child23 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-height: 198px;
}
.rectangle-parent2 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-38xl);
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(266px, 1fr));
}
.frame-child24,
.frame-child25,
.frame-child26 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-height: 198px;
}
.rectangle-parent3 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-38xl);
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(266px, 1fr));
}
.div27,
.frame-parent19 {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.div27 {
  height: 672px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 253px var(--padding-7xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
}
.frame-parent19 {
  align-items: flex-end;
  gap: var(--gap-18xl);
}
.frame-parent18,
.frame-parent19,
.o,
.o-inner {
  display: flex;
  justify-content: flex-start;
}
.frame-parent18 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-36xl);
  max-width: 100%;
}
.o,
.o-inner {
  align-items: flex-start;
  box-sizing: border-box;
}
.o-inner {
  width: 1224px;
  flex-direction: column;
  padding: var(--padding-64xl) 0 0;
  max-width: calc(100% - 344px);
}
.o {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 var(--padding-64xl);
  gap: 244px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-coral-100);
  font-family: var(--font-pretendard);
}
@media screen and (max-width: 1200px) {
  .div27 {
    padding-bottom: 164px;
    box-sizing: border-box;
  }
  .o {
    gap: 122px;
  }
}
@media screen and (max-width: 1050px) {
  .rectangle-container,
  .rectangle-group,
  .rectangle-parent1 {
    display: none;
    max-width: 100%;
  }
  .rectangle-parent2,
  .rectangle-parent3 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(266px, 461px));
  }
  .o-inner {
    padding-top: 54px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .navigation5 {
    display: none;
  }
  .rectangle-parent {
    gap: var(--gap-8xl);
  }
  .frame-parent20 {
    gap: var(--gap-9xl);
    padding-bottom: 145px;
    box-sizing: border-box;
  }
  .frame-child21,
  .frame-child22,
  .frame-child23 {
    width: 100%;
  }
  .rectangle-parent2 {
    gap: var(--gap-9xl);
    grid-template-columns: minmax(266px, 1fr);
  }
  .frame-child24,
  .frame-child25,
  .frame-child26 {
    width: 100%;
  }
  .rectangle-parent3 {
    gap: var(--gap-9xl);
    grid-template-columns: minmax(266px, 1fr);
  }
  .div27 {
    padding-bottom: 107px;
    box-sizing: border-box;
  }
  .frame-parent19 {
    gap: var(--gap-lg);
  }
  .frame-parent18 {
    gap: var(--gap-8xl);
  }
  .o,
  .o-inner {
    box-sizing: border-box;
  }
  .o-inner {
    padding-top: 35px;
    max-width: 100%;
  }
  .o {
    gap: var(--gap-42xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
}
@media screen and (max-width: 450px) {
  .o {
    gap: var(--gap-11xl);
  }
}
